<div class="dashboard-container">
  <h2>📊 Admin Dashboard</h2>

  <!-- Summary Cards -->
  <div class="summary-cards">
    <div class="card total-projects">
      <h3>Total Projects</h3>
      <p>{{ totalProjects }}</p>
    </div>
    <div class="card total-employees">
      <h3>Total Employees</h3>
      <p>{{ totalEmployees }}</p>
    </div>
    <div class="card pending-tasks">
      <h3>Pending Tasks</h3>
      <p>{{ Tasks }}</p>
    </div>
    <div class="card total-hours">
      <h3>Total Hours Logged</h3>
      <p>{{ totalHours }}</p>
    </div>
  </div>

  <!-- Charts -->
  <div class="charts-wrapper">
    <div class="chart-card">
      <h3>📆 Projects per Year</h3>
      <canvas
        baseChart
        [data]="projectsByYearData"
        [type]="'bar'"
        [options]="projectsYearBarChartOptions"
      >
      </canvas>
    </div>
    <div class="chart-card">
      <h3>📌 Project Status Overview</h3>
      <canvas
        baseChart
        [data]="projectChartData"
        [type]="'doughnut'"
        [options]="doughnutChartOptions"
      >
      </canvas>
    </div>

    <div class="chart-card">
      <h3>🧩 Tasks per Project</h3>
      <canvas
        baseChart
        [data]="tasksPerProjectData"
        [type]="'bar'"
        [options]="tasksPerProjectBarChartOptions"
      >
      </canvas>
    </div>

    <div class="chart-card">
      <h3>✅ Task Status Distribution</h3>
      <canvas
        baseChart
        [data]="taskChartStatusData"
        [type]="'pie'"
        [options]="pieChartOptions"
      >
      </canvas>
    </div>
  </div>
</div>
