<div class="sidebar bg-light p-3">
    <div class="user-info mb-4">
      <h5>Welcome, {{ currentUser?.username }}</h5>
      <small class="text-muted">Role: {{ currentUser?.role }}</small>
    </div>

    <nav class="nav flex-column">
      <a class="nav-link" routerLink="/dashboard/employees" routerLinkActive="active">
        <i class="bi bi-people"></i>Employe Management
      </a>
      <!-- <a
         class="nav-link"
         routerLink="/dashboard/roles"
         routerLinkActive="active">
        <i class="bi bi-shield-lock"></i>Role Management
      </a> -->
      <a
      class="nav-link"
      routerLink="/dashboard/projects"
      routerLinkActive="active">
      <i class="bi bi-file-earmark-code"></i>Project Management
   </a>
   <a
   class="nav-link"
   routerLink="/dashboard/tasks"
   routerLinkActive="active">
   <i class="bi bi-list-task"></i>Task Management
</a>
    </nav>
  </div>
