.layout {
  display: flex;
}

/* SIDEBAR default */
.sidebar {
  width: 250px;
  transition: all 0.3s ease-in-out;
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* HIDE SIDEBAR */
.sidebar-hidden {
  margin-left: -250px;
  opacity: 0;
  visibility: hidden;
}

/* MAIN CONTENT */
.content {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  background-color: #f1f1f1;
  min-height: 100vh;
}

a{
  color: black;
}

nav{
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}
.logout{
  color: #080808;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  float: right;
  margin-right: 30px;
}
.logout:hover {
  text-decoration: underline;
}
button{
  font-size: 25px;
  font-weight: bold;
  color: #080808;
}

button:hover{
  color: #333;
}
.title{
  gap: 10px;
  width: 300px;;
  font-size: 24px;
  color: #333;
  font-family: 'Arial', sans-serif;
}
