<div class="container">
  <h2>Log Time</h2>
  <form (ngSubmit)="submitLog()" class="form">
    <div>
      <label>Date</label>
       <input type="date" [(ngModel)]="log.date" name="date" required />
      </div>
      <div>
         <label>Hours</label>
          <input type="number" [(ngModel)]="log.hours" name="hours" required />
        </div>
        <div>
          <label>Description</label>
           <textarea [(ngModel)]="log.description" name="description">
           </textarea>
          </div>
           <button type="submit">Log Time</button>
          </form>

          <h2 class="log-list-title">Time Logs</h2>
          <table>
             <thead>
              <tr>
                <th>Date</th>
                <th>Hours</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of logs | paginate: { itemsPerPage: 5, currentPage: currentPage}">
                <td>{{ entry.date }}</td>
                <td>{{ entry.hours }}</td>
                <td>{{ entry.description }}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
