<div class="task-management container">
  <h2 class="list-title">Time Log Management</h2>

  <!-- Button to show the form -->
  <button class="btn btn-success" *ngIf="!formVisible" (click)="formVisible = true; isEditMode = false" > Add Log Time </button>

<div class="filters" *ngIf="!formVisible">
  <label>Task:
    <select [(ngModel)]="filter.task_id" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let task of tasks" [value]="task.id">{{ task.title }}</option>
    </select>
  </label>

  <label>Date:
    <input type="date" [(ngModel)]="filter.Date" (change)="applyFilters()">
  </label>

  <button (click)="clearFilters()">Clear</button>
</div>

  <!-- Time log form -->
  <form
    *ngIf="formVisible"
    (ngSubmit)="submitLog()"
    #timeForm="ngForm"
    class="task-form"
  >
    <div>
      <label>Date</label>
      <input
        type="date"
        [(ngModel)]="log.date"
        name="date"
        [min]="minDate"
        required
      />
    </div>
    <div>
      <label>Hours</label>
      <input
        type="number"
        [(ngModel)]="log.hours"
        name="hours"
        min="0.1"
        step="0.1"
        required
      />
    </div>
    <div>
      <label>Tasks</label>
      <select [(ngModel)]="log.task_id" name="task_id" required>
        <option value="" disabled>Select Task</option>
        <option *ngFor="let task of tasks" [value]="task.id">
          {{ task.title }}
        </option>
      </select>
    </div>
    <div>
      <label>Description</label>
      <textarea [(ngModel)]="log.description" name="description"></textarea>
    </div>

    <div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!timeForm.form.valid"
      >
        {{ isEditMode ? 'Update Log' : 'Log Time' }}
      </button>
      <button
        type="button"
        class="btn btn-secondary cancel-btn"
        (click)="cancelEdit()"
      >
        Cancel
      </button>
    </div>
  </form>

  <table class="task-list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Hours</th>
        <th>Task</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let log of logs | paginate: { itemsPerPage: 5, currentPage: currentPage }
        "
      >

        <td>{{ log.date | date:'MM/dd/yyyy' }}</td>
        <td>{{ log.hours }}</td>
        <td>{{ getTaskTitle(log.task_id) }}</td>
        <td>{{ log.description }}</td>
        <td class="item-buttons">
          <button
            class="btn btn-warning"
            (click)="startEdit(log)"
          >
            Edit
          </button>
          <button
            class="btn btn-danger"
            (click)="deleteLog(log.id!)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noTimeLogs>
      <p class="alert alert-info">No time logs found</p>
  </ng-template>
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
