<div class="task-management">
  <h2 class="list-title">Task Management</h2>

  <button class="btn btn-success" (click)="toggleForm()" id="btn">
    {{ editingTaskId ? 'Update Task' :  (showForm ? 'Cancel Adding' :  'Add Task' )}}
  </button>

  <form *ngIf="showForm" [formGroup]="taskForm" (ngSubmit)="editingTaskId ? updateTask() : addTasks()" class="task-form">
    <h2 class="form-title">{{ editingTaskId ? 'Edit Task' : 'Add New Task' }}</h2>
    <div>
      <label>Title</label>
      <input formControlName="title" type="text" required />
    </div>

    <div>
      <label>Description</label>
      <textarea formControlName="description"></textarea>
    </div>

    <div>
      <label>Status</label>
      <select formControlName="status">
        <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
      </select>
    </div>

    <div>
      <label>Project</label>
      <select formControlName="project_id">
        <option value="" disabled>Select Project</option>
        <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
      </select>
    </div>

    <div>
      <label>Assigned to</label>
      <select formControlName="assigned_to">
        <option value="" disabled>Select Employee</option>
        <option *ngFor="let emp of employees" [value]="emp.id">{{ emp.name }}</option>
      </select>
    </div>

    <div>
      <label>Due Date</label>
      <input formControlName="due_date" type="date" [min]="minDate" required />
    </div>

    <div class="button-group">
      <button class="btn btn-primary" type="submit">{{ editingTaskId ? 'Update Task' : 'Add Task' }} </button>
      <button class="btn btn-secondary" type="button" *ngIf="editingTaskId" (click)="toggleForm()"> Clear </button>
    </div>
  </form>

  <div class="task-list">
  <div class="filters" *ngIf="!showForm">

  <label>Project:
    <select [(ngModel)]="filter.project_id" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
    </select>
  </label>

  <label>Status:
    <select [(ngModel)]="filter.status" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
    </select>
  </label>
  <label>Employee:
    <select [(ngModel)]="filter.assigned_to" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let emp of employees" [value]="emp.id">{{ emp.name }}</option>
    </select>
  </label>

  <button class="btn btn-success" (click)="clearFilters()">Clear</button>
</div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Project</th>
        <th>Employee</th>
        <th>Due-Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks | paginate: { itemsPerPage: 5, currentPage: currentPage}">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ getProjectName(task.project_id) }}</td>
        <td>{{ getEmployeeName(task.assigned_to) }}</td>
        <td>{{ task.due_date | date: 'shortDate' }}</td>
        <td class="item-buttons">
          <button class="btn btn-warning" (click)="onEdit(task)">Edit</button>
          <button class="btn btn-danger" *ngIf="task.id" (click)="onDelete(task.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noTasks>
      <p class="alert alert-info">No tasks found</p>
  </ng-template>
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
</div>
