@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

/* Optional: Add custom global styles below */
body {
  background-color: #f8f9fa;
  min-height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-toast {
  background-color: #007bff !important;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
