@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

/* Optional: Add custom global styles below */
body {
  background-color: #f8f9fa;
  min-height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* toast message style */

.toast-success {
  background-color: #28a745 !important;
  color: #fff;
  padding : 10px;
  border-radius: 10px;
  font-weight: bold;
}
.toast-warning {
  background-color: #ffc107 !important;
  color: black;
  padding : 10px;
  border-radius: 10px;
  font-weight: bold;
}

.toast-error {
  background-color: #dc3545 !important;
  color: #fff;
  padding : 10px;
  border-radius: 10px;
  font-weight: bold;
}

.toast-center-center {
  top: 10% !important;
  left: 80% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
  z-index: 9999 !important;
}

.toast-top-center-offset {
  top: 100px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  position: fixed !important;
  z-index: 9999 !important;
}

/* Reusable utility styles */
.input-field {
  @apply border rounded px-3 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.summary-card {
  @apply p-4 rounded-xl shadow text-center;
}
